html
{
	background-color: #056682;
}

body
{
	width: 80%;
	/*height: 100%;*/
	margin: 4em auto;
}

#container
{
	background-color: #FFFFFF;
	margin: 4px 0;
	border-radius: 8px;
	float: left;
	width: 100%;
}
#container-container
{
	width: 100%;
}
.chart-icon
{
	float:right; 
	width:32px; 
}
#usage
{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 4px;
	width: 19%;
	float: right;
}
/*Canvas size should always fill up whatever it is contained in*/
canvas
{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
	top:-85px;
}

/*------------Text Stuff--------------*/
.textual
{
	background-color: #FFFFFF;
	margin: 4px 0;
	padding: 1em;
	border-radius: 8px;
}

.chart-indicator, .view-indicator, .cycle-indicator
{
	font-size: 22px;
	font-family: Verdana;
	color: #3f403f;
	display: block;
	position: relative;
	height: 0px;
	top: 20px;
	right: 20px;
	z-index: 500;
}
.key
{
	font-size: 22px;
	font-family: Verdana;
	color: #3f403f;
	display: block;
	position: relative;
	height: 0px;
	right: 20px;
	z-index: 500;
	height:0px;
}
.view-indicator
{
	top: 25px;
}
.cycle-indicator
{
	top:30px;
}
.view-indicator:hover
{
	cursor: pointer;
}
.chart-indicator:hover
{
	cursor: pointer;
}
.cycle-indicator:hover
{
	cursor: pointer;
}
.chart-text, .view-text{
	float:right;
	padding-right:10px;
}

h2, h3
{
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

h4
{
	margin-bottom: 0;
}

#banner{
	width: 64%;
	height: auto;
}

#title
{
	text-align: center;
}

#comments
{
	/*Places it below any floating elements.*/
	clear: both;
	position: relative;
	top: -60px;
}

#vinyl
{
	list-style-image: url('blue.png')
}

#cd
{
	list-style-image: url('green.png')
}

#credits
{
	color: #3D3D3D;
}

#album-info{
	background: #212121;
	position: absolute;
	color: #fff;
	padding: 10px;
	text-align: center;
	display: none;
	border-radius: 5px;
}
#mouse-stalker
{
	position: fixed;
	padding: 3px 10px 3px 10px;
	background-color:#212121;
	font-size: 22px;
	font-family: Verdana;
	color: #fff;
	cursor: default;
	border-radius: 5px;
}
